/* This is where styles are defined for your page. */
/* One style is provided as example. */


body {
  background-image: url('images/hiking-the-sand-dunes.jpg');
  background-repeat: none;
  background-attachment: fixed;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino;
  padding-right: 20%;
  padding-left: 20%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "arial";
  color: saddlebrown;
}

header.page-header { 
  border: solid 3px saddlebrown;
  margin: auto;
  padding: 0;
  font-size: 120%;
}
.page-header h1 {
  text-align: center;
  margin-bottom: 0;
}
.page-header p {
  text-align: center;
  margin-top: 0;
  color: saddlebrown;
}
.page-header small{
  font-size: medium;
}
aside.more-info img {
  width: 250px;
  height: auto;
  border: dotted .5px saddlebrown;
}
aside.more-info {
  padding: 1em;
  float: right;
  width: 250px;
  height: auto;
  margin: 1em;
}
aside.more-info h2 {
  text-align: center;
  font-size: medium;
  color: saddlebrown;
}
aside.more-info p {
  font-size: 80%;
  color: saddlebrown;
}
aside.more-info ul {
  padding: 10px;
}
.info-links li {
  list-style: none;
  border-radius: 25px;
  background-color: rgba(224, 255, 255, 0.7);
  margin-top: 10px;
  width: 225px;
  line-height: 30px;
  text-align: center;
}
.info-links a:link, a:visited {
    color: saddlebrown; 
    text-decoration: none;
}

.info-links a:hover, a:active {
    color: navy;
    text-decoration: underline;
}
.social-links li {
  list-style: none;
  border-radius: 25px;
  background-color: rgba(224, 255, 255, 0.7);
  margin-bottom 10px;
  margin-top: 10px;
  width: 225px;
  line-height: 30px;
  text-align: center;
}
.social-links a:link, a:visited {
    color: saddlebrown; 
    text-decoration: none;
}

.social-links a:hover, a:active {
    color: navy;
    text-decoration: underline;
}
.poem li
{
  list-style-type: none;
  color: saddlebrown;
  font-weight: bold;
}
section#content:first-letter { 
  font-size: 200%;
  color: lightcyan;
  background-color: saddlebrown;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

section#content {
  border: solid 3px saddlebrown;
  background-color: rgba(246, 245, 186, 0.5); 
  margin-top: 1em;
  margin-bottom: 1em;
}
.content-footer p {
  text-align: center;
  color: saddlebrown
}
.content-footer a:link, a:visited {
    color: saddlebrown; 
    text-decoration: none;
}

.content-footer a:hover, a:active {
    color: navy;
    text-decoration: underline;
}

footer.page-footer ul {
  text-align: center
}

footer.page-footer li {
  display: inline-block;
  border-radius: 25px;
  background-color: rgba(224, 255, 255, 0.7);
  margin-right: 30px;
  margin-bottom 10px;
  margin-top: 10px;
  width: 250px;
  line-height: 40px;
}
footer.page-footer a:link, a:visited {
  color: saddlebrown;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

footer.page-footer a:hover, a:active {
  color: navy;
  text-decoration: underline;
}
footer.page-footer {
  border: solid 3px saddlebrown;
  color: saddlebrown; 
  background-color: rgba(246, 245, 186, 0.5);
}
footer.page-footer p {
  text-align: center;
}

.page-credits {
  text-align: center;
  padding: 1em;
  margin: 1em;
}